/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #F4F4E9;
}

.btn-diagnosis {
  color: white;
  background-color: #FF88FF;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
}

.btn-diagnosis:hover {
  color: white;
  background-color: #FF66FF;
  transform: scale(1.1);
}

.content_wrapper {
  height: 100%;
  text-align: center;
}

.container {
  line-height: 40px;
}

.service-name {
  margin-top: 10px;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.header-logo {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #000;
}

.footer-item {
  margin: 10px;
}

.copyright {
  font-size: 13px;
}