/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #F4F4E9;
  color: #333;
}

p {
  font-weight: bold;
  color: #333;
}

.content_wrapper {
  height: 100%;
  text-align: center;
  background-image: image-url('island_image.jpeg');
  background-size: cover;
}

.content_wrapper::before {
  content: '';
  background-color: rgba(200, 200, 200, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.container {
  line-height: 80px;
}

.service-name {
  color: white;
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 50px;
  letter-spacing: 20px;
  text-indent: 20px;
}

.header {
  padding: 20px;
  background-color: #eee;
  position: fixed;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: black;
}

.footer {
  text-align: center;
  padding: 70px 70px;
  background-color: #888;
}

.footer-item {
  margin: 10px;
  font-size: 15px;
  color: #ccc;
  text-decoration: none;
}

.footer-item:hover {
  color: #ccc;
}

.copyright {
  font-size: 13px;
  margin-top: 10px;
  color: white;
}

.question-card {
  text-align: center;
  padding-top: 10px;
}

.results {
  text-align: center;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-bg {
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}
