/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

* {
  // フォント案1
  // font-family: 'Kiwi Maru', serif;
  // フォント案2
  font-family: 'Kosugi', sans-serif;
  }

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #F4F4E9;
  color: #333;
}

p {
  font-weight: bold;
  color: #444;
  text-shadow: 1px 1px 0 #eee
}

.content_wrapper {
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background-image: image-url('bg_image.jpeg');
  background-size: cover;
  position: relative;
  filter: opacity(90%);
}

.result_wrapper {
  background-color: #f4f5f7;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  line-height: 80px;
}

.service-name {
  color: #fff;
  padding: 130px 0 20px 0;
  font-size: 50px;
  letter-spacing: 20px;
  text-indent: 20px;
}

.header {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}

.logo:hover {
  color: #fff;
}

.footer {
  text-align: center;
  padding: 70px;
  background-color: #F4F4E9;
}

.footer-item {
  margin: 10px;
  font-size: 15px;
  color: #888;
  text-decoration: none;
}

.footer-item:hover {
  color: #444;
}

.copyright {
  font-size: 13px;
  margin-top: 10px;
  color: #444;
}

.question_wrapper {
  display: none;
}

.question-card {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 120px 0;
  margin: 0 150px;
  border-radius: 2px;
}

.question-title {
  padding-bottom: 40px;
}

.choice-b {
  margin-bottom: 30px;
}

.results {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.result_area {
  display: none;
}

.result_islands {
display: flex;
height: 500px;
padding: 0 50px;
margin-bottom: 25px;
}

.island_image {
  width: 60%;
}

.island_description {
  width: 40%;
  padding: 60px;
  background-color: rgba(255,255,255,0.7);
  text-align: left;
}

.island_place {
  display: flex;
  border-bottom: 2px solid #000;
}

.island_prefecture {
  margin-top: auto;
  margin-bottom: 10px;
}

.island_introduce {
  margin-top: 5px;
}

.retry-button {
  padding-top: 25px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-bg {
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.btn-outline-dark {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.btn-outline-dark span {
  position: relative;
  transition: .3s;
}

.btn-outline-dark:hover span {
  color: #fff;
}

.btn-outline-dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  transform: translate3d(-100%, 0, 0);
  transition: .3s;
}

.btn-outline-dark:hover:before {
  transform: translate3d(0, 0, 0);
}

.ship_progression {
  margin-top: 60px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.ferry_icon img {
  width: 40px;
  height: 40px;
  transform: scale(-1, 1);
  position: relative;
  top: -5px;
}

.wave_icon img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}

.number_icon img {
  width: 30px;
  height: 30px;
}
