.container {
  p {
    padding: 5rem 0;
  }
}

.service-name {
  font-size: 5rem;
  color: #fff;
  padding-top: 8rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  @media (max-width: 425px) {
    font-size: 3rem;
    padding: 3rem 0 1rem;
  }
}

// 「行く！」「もう一度探す」ボタン
.btn-diagnosis {
  font-size: 1.6rem;
  padding: 1rem 4rem;
  color: #fff;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
  z-index: 0;
  background-color: #0F435C;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  @media (max-width: 425px) {
    font-size: 1.4rem;
    padding: 1rem 3rem;
    border-bottom: 5px solid #082634;
  }
}

.btn-diagnosis:active {
  @media (max-width: 425px) {
    margin-top: 3px;
  }
}

.btn-diagnosis:hover {
  color: #fff;
  border: none;
}

.btn-diagnosis:hover:after {
  height: 100%;
}

.btn-diagnosis:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all .3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #165e83;
  @media (max-width: 425px) {
    background-color: #0F435C;
  }
}

.question-mark {
  @media (max-width: 425px) {
    display: none;
  }
}

.exclamation-mark {
  display: none;
  @media (max-width: 425px) {
    display: inline-block;
  }
}