.container {
  p {
    padding: 5rem 0;
    font-weight: bold;
  }
}

.logo-mark {
  width: 8rem;
  height: 8rem;
  display: block;
  margin: 0 auto;
  @media (max-width: 425px) {
    width: 4rem;
    height: 4rem;
  }
}

.service-title {
  width: 40rem;
  height: 8rem;
  margin-top: 2rem;
  @media (max-width:425px) {
    width: 20rem;
    height: 5rem;
    margin-top: 0;
  }
}

// 「行く！」「もう一度探す」ボタン
.btn-diagnosis {
  font-size: 1.6rem;
  padding: 1rem 4rem;
  color: #fff;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
  z-index: 0;
  background-color: #0F435C;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  @media (max-width: 425px) {
    font-size: 1.4rem;
    padding: 1rem 3rem;
    border-bottom: 5px solid #082634;
  }
}

.btn-diagnosis:active {
  @media (max-width: 425px) {
    margin-top: 3px;
  }
}

.btn-diagnosis:hover {
  color: #fff;
  border: none;
}

.btn-diagnosis:hover:after {
  height: 100%;
}

.btn-diagnosis:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all .3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #165e83;
  @media (max-width: 425px) {
    background-color: #0F435C;
  }
}

.question-mark {
  @media (max-width: 425px) {
    display: none;
  }
}

.exclamation-mark {
  display: none;
  @media (max-width: 425px) {
    display: inline-block;
  }
}

// 文言
.content {
  margin: 4rem auto;
  position: relative;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    @media (max-width: 425px) {
      font-size: 1rem;
    }
  }
}

.foundation {
  // width: 40rem;
  // height: 20rem;
  width: 30%;
  height: 30%;
  @media (max-width: 425px) {
    width: 25rem;
    height: 10rem;
  }
}