// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-diagnosis {
  color: white;
  background-color: #FF88FF;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
}

.btn-diagnosis:hover {
  color: white;
  background-color: #FF66FF;
  transform: scale(1.1);
}
