// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-a {
  color: white;
  background-color: deepskyblue;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 30px;
}

.btn-a:hover {
  color: white;
  background-color: dodgerblue;
  transform: scale(1.1);
}

.btn-b {
  color: white;
  background-color: orange;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
}

.btn-b:hover {
  color: white;
  background-color: darkorange;
  transform: scale(1.1);
}
