// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-a {
  color: white;
  background-color: lightseagreen;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 50px;
  border-radius: 2px;
}

.btn-a:hover {
  color: white;
  background-color: darkturquoise;
  transform: scale(1.1);
}

.btn-b {
  color: white;
  background-color: indianred;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 2px;
}

.btn-b:hover {
  color: white;
  background-color: mediumvioletred;
  transform: scale(1.1);
}
